[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = password

[dn]
CN = example.com
emailAddress = webmaster@localhost
O = Localhost
L = London
C = GB

[ext]
subjectAltName = DNS:example.com
